PORT=
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
CORS_ORIGINS=
MONGO_ENABLED=

FACEBOOK_BASE_URL=
FACEBOOK_API_KEY=
RAPIDAPI_INSTAGRAM_HOST=
RAPIDAPI_INSTAGRAM_KEYS=
X_BASE_URL=
X_API_KEY=
YOUTUBE_API_KEY=

SENTIMENT_ANALYSIS=
CUSTOM_SENTIMENT_URL=
MEDIA_ANALYZER_URL=
RAG_API_URL=
BLUWEB_API_URL=
